{% extends 'layouts/base.html' %}

{% block title %}Track your relevance across social media{% endblock %}
{% block meta_description %} Keyword Monitoring – Track your selected keywords in real time on Twitter. Filter based on account size to identify influencers
PR –  Lead Generation- Find people who are interested in the niche you are monitoring
Data Collection – Create unique datasets for content marketing purposes or to analyze trending topics{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Web Success</h1>
      <h3 class="text-muted">
        Keep ahead of the competition by monitoring your social presence
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
        <h2>PR heads-up</h2>
        <p class="text-muted">Put out fires early by identifying people talking about your business online. </p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-database text-primary"></i>
        <h2>Data Collection </h2>
        <p class="text-muted">Create unique datasets for content marketing purposes or to analyze trending topics.</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
        <h2>Keyword Monitoring</h2>
        <p class="text-muted">Track your selected keywords in real time on Twitter. Filter based on account size to identify influencers</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
